
services:
  agent:
    image: agent
    ports:
      - 8090:8090
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    networks:
      all: 
    environment:
      - DOCKER_BACKEND_BACKEND_URL=http://backend:3001
    
  backend:
    image: backend
    ports:
      - 3001:3001
    networks:
      all:
    environment:
      - DOCKER_SOCKET_AGENT_URL=http://agent:8090
      - DOCKER_FRONTEND_URL=http://frontend

  frontend:
    image: frontend
    ports:
      - 8080:8080

networks:
  all:
    driver: bridge